*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: url("Pinstripe.png");
    background-size: 3%;
    padding: 10px;
}

.lista{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}

.aesthetic-windows-95-modal-title-bar-text {
    justify-content: space-between;
    width: 100%;
}

.lista h1 {
    display: flex;
    align-items: center;
}

.lista h1 img {
    width: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    right: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 25px;
}

input[type=text] {
    flex: 0.95;
    min-height: 29px;
    padding-left: 5px;
}

input[type=checkbox] {
    cursor: pointer;
}

ul {
    list-style: none;
    user-select: none; 
}

li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.delete-btn {
    position: relative;
    right: 0;
    cursor: pointer;
}

.delete-btn img{
    width: 25px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}